#toc_container {
    background: none;
    border: 1px dashed rgb(29, 28, 28);
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

#toc_container a {
  text-decoration: none;
  color: rgb(10, 171, 177);
}

.toc_title {
    font-weight: 700;
    text-align: left;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(105, 103, 103);
    color: antiquewhite;
    font-family: Droid Sans, sans-serif, serif;
  }
   
  .nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #005f5f;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
  }

  img {
    min-height: 10%;
    min-width: 10%;
    max-height: 50%;
    max-width: 50%;
  }

  ul {
    list-style-type: none;
  }

#locations {
  text-align: center;
}

h2 {
  font-weight: bolder;
  font-size: 2.5em;
}

#locations li {
  font-style: italic;

}

#blog_posts {
  text-align: center;
}
